---
name: Handle prow slash commands
on:
  issue_comment:
    types: [created]
permissions:
  issues: write
  pull-requests: write
jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: jpmcb/prow-github-actions@f4d01dd4b13f289014c23fe5a19878a2479cb35b # v1.1.3
        with:
          prow-commands: |
            /approve
            /lgtm
          github-token: ${{ secrets.GITHUB_TOKEN }}
